/* NAVBAR STYLING */
nav span {
    color: orange;
}
/* Scroll Back to Top Button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    display: none;
}
/* Hero Styling */
.hero-image {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/blue-laptop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-title {
    font-size: 4rem;
}
.hero-desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Image and About Section */
.about img {
    height: 300px;
    width: 300px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* Projects Styling */
.projects{
  color: black;
  background: rgb(19, 1, 50);
}
.projects .title {
    color: #fff;
    padding-top: 15px;
    margin-top: 15px;
}

.projects h5 {
    color: #fff;
}
.projects a:link {
  color: white;
}
.projects a:visited {
  color: whitesmoke;
}
.projects a:hover {
  color: yellow;
}

.projects, .skills, .contact{
    padding-bottom: 30px;
    margin-bottom: 10px;
}


/* Skills section css */
.servicesText.card {
    height: 130px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #f97f05;
}
.servicesText:hover {
    border: 2px solid #f97f05;
}

/* Contact Section */
#contact .title {
    padding-top: 15px;
    margin-top: 15px;
}
#contact {
    background-color: rgb(19, 1, 50);
    color: #fff;
}

.contact .center-form {
    display: block;
    width: 60%;
    margin: 0 auto;
}

/* Footer styling */
.footer .container {
    padding-top: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.social-icons {
    font-size: 25px;
    cursor: pointer;
}
footer .container .social-icons .fab:hover{
    color: #f97f05;
}
.footer .fab {
    color: #f9f9f9d4;
}
#footer {
    background-color: #111111;
    text-align: center;
}
footer p{
    color:#fff;
}
footer .container .copyright-footer a{
    color: #f97f05;
    text-decoration: none;
}
footer .container .copyright-footer a:hover{
    color: red;
}
footer .container .copyright-footer a:visited{
    color:cadetblue;
}